body {
  background-color: #f1e2e2;
}
.container {
  width: 70%;
  text-align: center;
  margin: auto;
}
.dice {
  text-align: center;
  display: inline-block;
  margin: 2%;
}
h1 {
  font-size: 8rem;
  margin-bottom: 0.5%;
  font-family: "Fredoka", sans-serif;
  color: #3291b6;
  text-shadow: 5px 0 #5b5d5f;
}
h3 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  font-weight: 200;
  color: #3291b6;
  text-shadow: 0 0 10px #bb8ed0;
}
footer {
  margin-top: 10%;
  font-family:
    font-family "Sour Gummy",
    sans-serif;
  color: grey;
}
